*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: grey;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    margin-top: 50px;
    height: 600px;
    width: 600px;
    padding: 30px;
    background: crimson;
    border-radius: 5px;
    display: inline-block;
}
.btn-light{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background: blue;
    border-radius: 50%;
    font-size: 2.5rem;
    cursor: pointer;
}
.light-mode{
    background-color: green;
}