*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #ffffff;
    text-align: center;
}

.first-section{
    height: 110vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    
}

.hidden{
    height: 100vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    filter: blur(5px);
    
}

.show{
    opacity: 1;
    animation-delay: 2s;
    transition: all 1s;
    filter: blur(0);
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}
